<h1>Blog</h1>

{{#posts}}
<div>
  <ul>
    <li>
      Title: {{title}}
    </li>
    <li>
      Content: {{content}}
    </li>
    <li>
      Author: {{user.name}} - {{user.email}}
    </li>
    <li>
      <a href="/posts/{{id}}">Link</a>
    </li>
  </ul>
</div>
{{/posts}}